{pre_hooks, [
    {"(linux|darwin|solaris|win32)", clean, "make clean"},
    {"(freebsd|netbsd|openbsd)", clean, "gmake clean"},
    {"(linux|darwin|solaris|win32)", compile, "make"},
    {"(freebsd|netbsd|openbsd)", compile, "gmake"}
]}.

{deps, [
    {host_triple, "0.1.0"}
]}.

{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.